<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{(task | async)?.title}}</mat-card-title>
        <mat-card-subtitle>{{(task | async)?.description}}</mat-card-subtitle>
    </mat-card-header> 
    <mat-card-content>{{(task | async)?.completed ? "Completo" : "Não Completo"}}</mat-card-content>
    @if ((task | async)?.createdAt) {
        <mat-card-content>Data de Criação: {{(task | async)?.createdAt}}</mat-card-content>
    }
    @if ((task | async)?.updatedAt) {
        <mat-card-content>{{(task | async)?.updatedAt}}</mat-card-content>
    }
</mat-card>